# cw2 config
name: box_random_seq_entire
import_path: "./shared_dense_segmenting_vars.yaml"
import_exp: "box_random_seq_entire"

repetitions: 1
reps_per_job: 1
reps_in_parallel: 1
iterations: &iterations 35000
num_checkpoints: 1

# Hardware specific parameters
params:
  sampler:
    args:
      num_env_train: 4
      num_env_test: 4
      episodes_per_train_env: 1
      episodes_per_test_env: 4
  projection:
    args:
      total_train_steps: *iterations

  reference_split:
    q_loss_strategy: "enforce_no_overlap_overconf"
    v_func_estimation: "enforce_no_overlap_overconf"