# cw2 config
name: hopper_seq_entire
import_path: "./shared_hopper.yaml"
import_exp: "hopper_seq_entire"

repetitions: 1
reps_per_job: 1
reps_in_parallel: 1
iterations: &iterations 15000
num_checkpoints: 1

# Hardware specific parameters
params:
  sampler:
    args:
      num_env_train: 1
      num_env_test: 4
      episodes_per_train_env: 1
      episodes_per_test_env: 4
  projection:
    args:
      total_train_steps: *iterations

  reference_split:
    split_strategy: "fixed_sizes" #n_equal_splits, random_size_range, random_gauss, fixed_sizes, fixed_size_rand_start, intra_episode_fixed_inter_rand_size  _rand_semi_fixed_size_focus_on_region
    random_permute_splits: False #e.g. ranges = [12,15,36,0] -> permute that list every iteration before assignment, usable for ALL split_strategies

    n_splits: 3        #MOST IMPORTANT (for n_equal_splits): defines how many policy splits will be allowed, for rand variants defines how many splits will be saved (must be large enough to fit all splits, but should not be too large due to speed)
    #also required for split_strategy "n_equal_splits"
    ranges: [ 125, 75, 50 ]